.container {
	display: block;
	max-width: 1000px;
	padding: 10px;
}

.CardList {
	padding: 25px 0 25px 0;
}

.cardListItems {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px 10px;
	justify-items: center;
}

.card {
	background-color: #20a120;
	border: solid 2px #ffffff;
	border-radius: 5px;
	color: black;
	width: 300px;
	text-align: center;
}

hr {
	border: solid 1px black;
	margin: 10px;
}
